/* Общие настройки */
:root {
  --layout-max-width: 1200px;
  --layout-padding: 20px;
  --label-width: 220px;
  --header-height: 72px;
  --header-border: 1px;
}

body {
  font-family: "Geologica", sans-serif;
  font-size: 14px;
  background: #f9f9f9;
}

main {
  padding-top: calc(var(--header-height) + var(--header-border));
}

.user-input,
.clear-btn,
.scale-row button {
  flex-shrink: 0;
}

.main-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #f9f9f9;
  height: var(--header-height);
  box-sizing: border-box;
}

.layout {
  max-width: var(--layout-max-width);
  margin: 0 auto; /* центрирование */
  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);
}

.header .layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.logo-sign {
  font-size: small;
}

.header-options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 12px; /* расстояние между шкалами */
}

/* Каждая шкала в одной строке */

.scales {
  list-style-position: inside;
  margin: 0;
  padding-left: 0;
}

.scale-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

/* Название и значение */
.label {
  flex-shrink: 0; /* не сжимается */
  display: flex;
  align-items: center;
  gap: 6px; /* расстояние между текстом и значением */
  white-space: nowrap; /* запрещаем перенос текста */
  width: var(--label-width);
}

/* Шкала растягивается */
.chart-wrapper {
  flex: 1; /* занимает всё оставшееся место */
  min-width: 120px; /* минимальная ширина шкалы */
  position: relative;
  height: 28px;
}

/* Инпут фиксированной ширины */
.user-input {
  width: 50px;
  height: 28px;
  margin-left: 8px;
  margin-right: 10px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 4px;

  /* убираем стрелки */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.user-input::-webkit-inner-spin-button,
.user-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Шкала */
.chart {
  border-radius: 4px;
  background-color: #ccc;
  padding: 0;
}

.chart-track {
  width: 100%;
  height: 24px;
  background-color: #ebe9e9;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}

/* Контейнер для вертикальных полосок */
.chart-fill {
  height: 100%;
  width: 0%;
  background: linear-gradient(to right, #7ec0ee, #0059b3); /* синий градиент */
  transition: width 0.3s ease;
  border-radius: 4px 0 0 4px;
}

/* Деления */
.ticks {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 16px;
  font-size: 11px;
  color: #656565;
  pointer-events: none;
}

.tick {
  font-size: 8px;
  position: absolute;
  transform: translateX(-50%);
}

.tick.strong {
  font-weight: 700;
  color: #000;
}
