/* header.css */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 100;

  background: var(--header-bg-color);
  border-bottom: 1px solid var(--border-color);

  display: flex;
  align-items: center;
}

/* layout хедера */
.header-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: var(--layout-max-width);
  margin: 0 auto;
  padding: 0 var(--layout-padding);
}

/* === ЛОГОТИП === */
.main-logo {
  display: flex;
  align-items: center;

  height: 100%;
  color: var(--logo-color);

  text-decoration: none;
  cursor: pointer;
}

/* SVG внутри */
.main-logo img {
  height: 32px;          /* контрольная высота логотипа */
  width: auto;

  display: block;
}


/* контролы */
.header-options {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-options p {
  margin: 0;
  font-size: 12px;
  opacity: 0.8;
}
