/* layout.css */
main {
  padding-top: calc(var(--header-height) + 30px);
  padding-bottom: calc(var(--header-height));
}

.layout {
  max-width: var(--layout-max-width);
  width: 100%;
  margin: 0 auto;
  padding-inline: var(--layout-padding);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
